body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #111;
  color: #fdfdfd;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #222;
  padding: 2rem 1rem;
  border-bottom: 2px solid #444;
}

.vault {
  color: #ff5faf;
}

.character-card {
  background: #1e1e1e;
  margin: 2rem auto;
  padding: 1.5rem;
  width: 300px;
  border: 1px solid #333;
  border-radius: 8px;
}

img {
  border-radius: 8px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
